/* src/app/country-detail/country-detail.component.css */

.country-detail-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px;
  height: 100vh;
}

.back-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 80px;
  border: none;
  background-color: var(--element-color);
  color: var(--text-color);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
}

.back-button .icon {
  margin-right: 10px;
}

.country-detail {
  display: flex;
  gap: 120px;
  align-items: center;
}

.flag-container {
  flex: 1;
  max-width: 560px;
}

.flag-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info-container {
  flex: 1;
}

.info-container h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 32px;
}

.info-columns {
  display: flex;
  gap: 64px;
  margin-bottom: 64px;
}

.info-column {
  flex: 1;
}

.info-column p {
  margin-bottom: 12px;
  font-size: 16px;
}

.info-column strong {
  font-weight: 600;
}

.border-countries strong {
  display: inline-block;
  margin-right: 16px;
  font-weight: 600;
}

.border-buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

.border-buttons button {
  padding: 5px 20px;
  background-color: var(--element-color);
  color: var(--text-color);
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .country-detail {
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
  }

  .flag-container {
    max-width: 100%;
  }

  .info-columns {
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .country-detail-container {
    padding: 40px 28px;
  }
}
